[submodule "external/faiss"]
	path = external/faiss
	url = https://github.com/facebookresearch/faiss
[submodule "external/hnswlib"]
	path = external/hnswlib
	url = https://github.com/nmslib/hnswlib.git
